<div class="tarefa-container mat-elevation-z8">
    <div class="tarefa-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/tarefas']"><mat-icon>Lista de tarefas</mat-icon></a>
    </div>
    <mat-card class="tarefa-card">
      <form [formGroup]="tarefaForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="tarefa-full-width">
          <input matInput placeholder="Título da tarefa" formControlName="titulo"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!tarefaForm.get('titulo').valid && tarefaForm.get('titulo').touched">Por favor digite o título da tarefa</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tarefa-full-width">
          <input matInput placeholder="Descrição da tarefa" formControlName="descricao"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!tarefaForm.get('descricao').valid && tarefaForm.get('descricao').touched">Por favor digite a descrição da tarefa</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tarefa-full-width">
          <input matInput placeholder="tarefa Price" formControlName="prod_price"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!tarefaForm.get('prod_price').valid && tarefaForm.get('prod_price').touched">Please enter tarefa Price</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!tarefaForm.valid" mat-flat-button color="primary"><mat-icon>Salvar</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>
